<div class="container" >
  <app-add-modal *ngIf="trenutnaRuta=='/admin/categories'" (saveEvent)="handleAdd($event)" [colList]="listaColCat" [atr]="['title','desc','image']"></app-add-modal>
  <app-add-modal *ngIf="trenutnaRuta=='/admin/products'" (saveEvent)="handleAdd($event)" [colList]="listaColPrd" [atr]="['title', 'desc', 'image1', 'price', 'quantity', 'catId']"></app-add-modal>
  <div *ngIf="error500" class="alert alert-danger mt-2">U can't delete this category before deleting all its products.</div>
  <div style="overflow-x: scroll;">
    <table class="table mt-3 table-color" style="overflow-x:scroll;">
      <thead class="thead-dark" style="overflow-x:scroll;">
        <tr>
          <th *ngFor="let column of headers" scope="col" class="text-center">
            {{ column }}
          </th>
          <th *ngIf="trenutnaRuta!='/admin/orders'" class="text-center">EDIT</th>
          <th *ngIf="trenutnaRuta!='/admin/orders'" class="text-center">DELETE</th>
          <th *ngIf="trenutnaRuta=='/admin/orders'"  class="text-center">SHIP</th>
          <!-- <th *ngIf="trenutnaRuta=='/admin/orders'"  class="text-center">DELIVER</th> -->
          <th *ngIf="trenutnaRuta=='/admin/orders'"  class="text-center">CANCEL</th>
        </tr>
      </thead>

      <tbody style="overflow-x:scroll;">
        <tr *ngFor="let row of rows; let i = index">
          <td *ngFor="let column of headers" class="text-center">
            <p *ngIf="column=='id'" (click)="open(row)" style="font-weight: bold; text-decoration: underline; cursor: pointer;">{{row[column]}}</p>
            <p *ngIf="column!='id'">{{ row[column]}}</p>
          </td>
          <td *ngIf="trenutnaRuta!='/admin/orders'" class="text-center">
            <app-edit-modal *ngIf="trenutnaRuta=='/admin/categories'" (saveEvent)="handleEdit($event)" [rowId]="row.id" [colList]="listaColCat" [atr]="['title','desc','image']"></app-edit-modal>
            <app-edit-modal *ngIf="trenutnaRuta=='/admin/products'" (saveEvent)="handleEdit($event)" [rowId]="row.id" [colList]="listaColPrd" [atr]="['title', 'desc', 'image1', 'price', 'quantity', 'catId']"></app-edit-modal>
          </td>
          <td *ngIf="trenutnaRuta!='/admin/orders'" style="cursor: pointer;" class="text-danger text-center" (click)="onDelete(row)">X</td>
          <td *ngIf="trenutnaRuta=='/admin/orders'" [ngStyle]="{'cursor': (row.state == 'pending')? 'pointer':'unset'}" class="text-center" [ngClass]="(row.state == 'pending')? 'text-success':(row.state == 'shipping...')? 'bold-text':'textSec'" (click)="onShipOrder(row)" >{{shipOrDeliver[i]}}</td>
          <td *ngIf="trenutnaRuta=='/admin/orders'" [ngStyle]="{'cursor': (row.state == 'pending')? 'pointer':'unset'}" class="text-center" [ngClass]="(row.state != 'pending')? 'textSec': 'text-danger'" (click)="onCancelOrder(row)">cancel</td>      
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Order</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div *ngFor="let item of observedProducts" class="form-group">
        <!-- <label for="dateOfBirth"> {{item.title}} </label> -->
        <div>
            Item name: {{item.title}}
        </div>
        <div>
            Quantity: {{item.quantity}}
        </div>
        <div>
            Price: ${{item.price}}
        </div>
        <div class="mb-3 bg-black" style="height: 2px;">
          <!-- <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp"> -->
        </div>
      </div>
    </form>
  </div>
</ng-template>