<!-- <button class="btn btn-lg btn-outline-primary mt-3" (click)="open(content)">Add item</button> -->
<p class="m-0" style="cursor: pointer;" (click)="open(content)">Edit</p>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit product</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(modal,cancelButton)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div *ngFor="let colItem of colList; let i = index" class="form-group">
        <div class="mb-3">
          <label [for]="atr[i]">{{ colItem }}</label>
          <div class="input-group">
            <input *ngIf="atr[i]!='catId'" type="text" [id]="atr[i]" class="form-control" [(ngModel)]="inputField[atr[i]]" placeholder="{{atr[i]=='image1'? 'Place image url':''}}" [name]="'dp'+i">
          </div>
          <div class="input-group">
            <select *ngIf="atr[i]=='catId'" [id]="atr[i]" class="form-control" [(ngModel)]="inputField[atr[i]]" name="dp">
              <option *ngFor="let catList of categoriesList" [value]="catList.id"> {{catList.title}}</option>
            </select>
          </div>
          <span class="text-danger" [class]="errorMessages[atr[i]]?.length>0?'show':'hide'" >{{errorMessages[atr[i]]}}</span>
        </div>

        <div *ngIf="atr[i]=='image1'">
          
          <div class="mb-3">
            <div class="input-group">
              <input type="text" [id]="atr[i]+'1'" class="form-control" [(ngModel)]="extraSlike[0]" placeholder="Place image url" name="dp12">
            </div>
            <span class="text-danger" [class]="errorMessages[atr[i]]?.length>0?'show':'hide'" >{{errorMessages[atr[i]]}}</span>
          </div>
          <div class="mb-3">
            <div class="input-group">
              <input type="text" [id]="atr[i]+'2'" class="form-control" [(ngModel)]="extraSlike[1]" placeholder="Place image url" name="dp22">
            </div>
            <span class="text-danger" [class]="errorMessages[atr[i]]?.length>0?'show':'hide'" >{{errorMessages[atr[i]]}}</span>
          </div>
        </div>
      </div>

      <div class=" text-center modal-footer">
        <button data-dismiss="modal" class="btn btn-success" (click)="closeModal(modal,addButton)">Edit</button>
      </div>
    </form>
  </div>
</ng-template>
