<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div  class="row gx-4 gx-lg-5 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div *ngFor="let product of products; let i = index" class="col mb-5">
                <div class="card h-100">
                    
                    <img class="card-img-top" style="height: 200px; object-fit:cover;" [routerLink]="['/products', product.id]" [src]="product.images[0]" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.title }}</h5>
                            <!-- Product reviews-->
                            <!-- Product price-->
                            ${{product.price}}
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <input class="w-50" type="number" name="num" id="num" min="1" value="1" (keydown)="checkMax($event,product.id)" (keyup)="checkMax($event,product.id)" (change)="checkMax($event,product.id)" [(ngModel)]="prodVal[i]">
                            </div>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" (click)="handleAdd($event,product,prodVal[i])" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <app-pagination (pageEvent)="fetchNewPage($event)"></app-pagination>
        </div>
    </div>
</section>