.bg-primary{
    background-color: rgb(58,149,201) !important;
}

.text-primary{
    background-color: rgb(58,149,201) !important;
}

.content-wrapper{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.content-wrapper > div:nth-child(2) {
    flex:1;
}

.card{
    /* width: 300px !important; */
}

.thead-dark{
    background-color:#212529;
    color: #fff;
}

@media (max-width: 768px) {
    .carousel-control-next.bg-dark.position-absolute.end-50.desnoSlide{
        right: 0 !important;
    }
}

@media (max-width: 480px) {
    
    .prevSlika{
        height: 300px !important;
    }

    .levoSlide{
        width: 35px !important;
        height: 300px !important;
    }

    .carousel-control-next.bg-dark.position-absolute.end-50.desnoSlide{
        width: 35px !important;
        height: 300px !important;
    }
}
